.all-meals--section {
  &-one {
    height: 50vh;
    object-fit: cover;
    background-image: url("../assets/images/welcome_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #214042;
    flex-direction: column;

    &--desc {
      max-width: 500px;
    }
  }

  &-two {
    background-color: rgba(255, 117, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
  }

  // &-three,
  // &-five {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 3rem 0;

  //   &--heading {
  //     margin: 1rem 2rem;
  //   }

  //   &--line {
  //     border-top: 1px solid black;
  //     align-self: center;
  //     width: 15rem;
  //   }
  // }

  // &-four,
  // &-six {
  //   display: flex;
  //   justify-content: center; /* Centers the cards horizontally */
  //   gap: 20px; /* Adds space between cards */
  //   padding: 0 20px; /* Adds space on the left and right */
  //   flex-wrap: wrap; /* Allows cards to wrap when needed */
  //   max-width: 90%; /* Optional: limits the width of the container */
  //   margin: 0 auto;
  // }

  // &-six {
  //   margin-bottom: 4rem;
  // }
}
