.meal-card {
  width: 280px;
  height: 380px;
  text-align: center;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 6px 10px 0px #00000040;
  position: relative;

  &:hover {
    background-color: #fff8f8;
  }

  &--img {
    width: 250px;
    height: 200px;
  }

  &--best-seller {
    height: 105px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .button {
    margin-top: 2rem;
  }
}
