.welcome-content--section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #f4d3c5e0;

  &--desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--title {
        font-size: 4rem;
        font-weight: 600;
        max-width: 600px;
        color: #214042;
    }
  }
}

.welcome-content--section-two {
  text-align: center;
  background-color: #fffcf2;
  padding: 3rem;

  &--header {
    &--heading {
      font-weight: 600;
      font-size: 54px;
      margin-bottom: 12px;
      margin-top: 0px;
    }

    &--desc {
      max-width: 605px;
      margin: 20px auto;
      font-weight: 200;
      font-size: 22px;
    }
  }

  &--recipes {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    h3 {
      font-weight: 700;
      font-size: 24px;
    }

    p {
      max-width: 250px;
    }

    &--desc-img {
      height: 60px;
    }

    &--health-bowl {
      height: 400px;
      border-radius: 50%;
      border: 10px solid #f2510fb3;
    }
  }
}
